# Exercise 2

Let's try this exercise

###  Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Get the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user)  and import the data

In [ ]:
data=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep='|')
data

### Assign it to a variable called users and use the 'user_id' as index

In [ ]:
users=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep='|',index_col='user_id')
users

### See the first 25 entries

In [ ]:
users.head(25)

### See the last 10 entries

In [ ]:
users.tail(10)

### What is the number of observations in the dataset?

In [ ]:
users.shape ## to observe number of rows and column

In [ ]:
len(users) ## to observe number or rows

### What is the number of columns in the dataset?

In [ ]:
len(users.columns)

### Print the name of all the columns.

In [ ]:
list(users)

### How is the dataset indexed?

In [ ]:
users.index

### What is the data type of each column?

In [ ]:
users.dtypes

### Print only the occupation column

In [ ]:
users.iloc[:,[2]]

### How many different occupations there are in this dataset?

In [ ]:
len(users.occupation.unique())

### What are the five most frequent occupation?

In [ ]:
users.occupation.value_counts()

In [ ]:
users.occupation.value_counts().head(5)

### Summarize the quantitative variable in the DataFrame.

In [ ]:
users.describe()

### Summarize all the columns

In [ ]:
users.describe(include='all')

### Summarize the qualitative variables in the DataFrame.

In [ ]:
users.describe(include=[np.object])

### What is the mean age of users?

In [ ]:
users.age.mean()

### What is the age with least occurrence?

In [ ]:
age_least=pd.DataFrame(users.age)
age_least['TotalNumber']=age_least.groupby('age')['age'].transform('count')
age_least[age_least.TotalNumber==1]

### What is the occupation of the person with user id equal to 19?

In [ ]:
users.occupation[19]

### Sort the data according to age.

In [ ]:
users.sort_values(['age'])

### Find out the oldest person in this data.

In [ ]:
oldest_person=users[users.age==users.age.max()]
oldest_person

### Find out the youngest engineer in this data.

In [ ]:
engineer=users[users.occupation=='engineer']
engineer[engineer.age==engineer.age.min()]

### Find out the occupation of people age between 27-32 years old.

In [ ]:
newdata=users.occupation[(users.age>27) & (users.age<32)]
newdata

In [ ]:
newdata1=users.occupation[(users.age>27) & (users.age<32)]

list (newdata1.drop_duplicates())

## to list occupation description for people age between 27 and 32 (both age 27 and 32 excluded)

In [ ]:
newdata2=users[(users.age>27) & (users.age<32)]
newdata2.occupation.unique()
newdata2.drop_duplicates()

## to list down all the records that full fill the condition of occupation with age between 27 and 32

### Show the data for people age more than 60 years old.

In [ ]:
users[users.age>60]

### Present only the age of homemakers in this data.

In [ ]:
homemaker=users[users.occupation=='homemaker']
homemaker.age

### What is the average age of each occupation in the DataFrame?

In [ ]:
users.groupby('occupation')['age'].mean()