## Install Packages

In [9]:
# Install GDAL and Geopandas
!pip install shapely geopandas geopy --quiet

In [2]:
import xlrd
import pandas as pd
from shapely.geometry import shape, Point, LineString, Polygon
import geopandas as gpd
from geopandas.tools import geocode, geocoding, reverse_geocode
import geopy, inspect
print(geopy.__version__)

from tqdm import tqdm
import urllib.request
import json
import time

time_start = time.time()
tqdm.pandas()

2.3.0

## Kawasan Hotspot Banjir di Pulau Pinang

### Single search

In [3]:
geocode(strings='Kg. Sanglang, SEBERANG PERAI SELATAN', provider='arcgis')

,geometry,address
0,POINT (100.48149 5.16576),"Kampung Sanglang, Nibong Tebal, Seberang Perai..."

### Bulk search

In [17]:
# hspot = pd.read_excel("kawasan-hotspot-banjir-mengikut-daerah-di-pulau-pinang-2020-ppsn-17022020.xlsx", skiprows=2)
hspot = pd.read_csv("https://github.com/booluckgmie/podac/raw/main/hotspot_loc.csv", usecols=['lokasi','address'])

hspot.head()

                           lokasi
0       Kampung Makam Haji Kassim
1                   Kampung Dodol
2     Kampung Masjid Hashim Yahya
3                  Jalan P.Ramlee
4  Lilitan Stadium (Astaka Makan)

### Geocoding lokasi hotspot banjir

In [18]:
gkwsn_hot = geocode(strings=hspot['lokasi'], provider='arcgis')

In [19]:
gkwsn_hot.head()

,geometry,address
0,POINT (100.32053 5.41116),"Jalan Haji Kassim, Kampung Makam, George Town,..."
1,POINT (100.31403 5.40441),"Kampung Dodol, George Town, Timur Laut, Pulau ..."
2,POINT (100.31539 5.40651),Masjid Jamek Hashim Yahaya
3,POINT (101.71078 3.15719),Jalan P. Ramlee
4,POINT (58.34210 51.96045),"Makan, Khaybullinskiy rayon, Respublika Bashko..."

In [20]:
gkwsn_hot

,geometry,address
0,POINT (100.32053 5.41116),"Jalan Haji Kassim, Kampung Makam, George Town,..."
1,POINT (100.31403 5.40441),"Kampung Dodol, George Town, Timur Laut, Pulau ..."
2,POINT (100.31539 5.40651),Masjid Jamek Hashim Yahaya
3,POINT (101.71078 3.15719),Jalan P. Ramlee
4,POINT (58.34210 51.96045),"Makan, Khaybullinskiy rayon, Respublika Bashko..."
...,...,...
306,POINT (100.48149 5.16576),"Kampung Sanglang, Nibong Tebal, Seberang Perai..."
307,POINT (100.48204 5.16870),"Taman Veerapen, Nibong Tebal, Seberang Perai S..."
308,POINT (100.48307 5.17203),"Taman Penting, Nibong Tebal, Seberang Perai Se..."
309,POINT (102.58027 2.04336),"Taman Permai, Muar, Johor"
310,POINT (101.94413 2.62682),"Kampung Stesen, Rantau, Seremban, Negeri Sembilan"