# Flow Data Cleansing
1. combine isudata with raw data = no_kp berkenaan
2. remove duplicate subset = ['id', 'no_kp', 'state01']
3. check leading zero
4. result
    - (len = 11) = potential LZ
    - (len = 11) = potential incomplete last digits
    - (len = 10) = potential LZ and incomplete last digits
    - (len = 10) = potential/incomplete last digits

## Checking Leading Zero
- match umur with first 2D no_kp
- total len (create new column - number of len)
- selected digits: extract digits location number 3-6D
- digit {3-4} value should < 13 if not (create new column - month issue)
- digit {5-6} value should < 32 if not (create new column - day issue)
- check available statecode from dict (MM) digit {8-9} (create new column - status: exist or not exist)
- potential leading zero issue (create new column - potential: leading zero or incomplete digit)

In [174]:
import pandas as pd
import numpy as np

## Testing Data

In [ ]:
# isukp = pd.read_csv(r'E:\gotrace\06_MACTH_JPN_10_11.csv')
# isukp = isukp[['IDENTIFICATION','JPN_NAMA','NAMA_PENIAGA_PELESEN','TEXT_MATCHING_SCORE', 'UMUR', 'JPN_IC', 'NEGERI']]
# isukp.columns = ['id', 'namajpn','nama', 'text_score','age01','no_kp','state']
# data = isukp[['namajpn','nama', 'text_score','age01','no_kp','state']]
# data

In [ ]:
122-55

In [ ]:
dup = pd.read_csv('isukp_gtr06.csv')
dup.drop_duplicates(subset=['id', 'no_kp', 'state01'], keep='last', inplace=True)
dup.shape

In [ ]:
dup

In [ ]:
isukp = pd.read_csv('isukp_gtr06.csv')
data = isukp
data

In [ ]:
data['no_kp'] = data['no_kp'].astype(str)

In [ ]:
# # data['no_kp'] = pd.to_numeric(data['no_kp'], errors='coerce').fillna(0).astype(int)
# data['no_kp'] = data['no_kp'].astype(str)

# # Drop rows with "" or "na" in a specific column
# data = data.dropna(subset=['no_kp'], how='any', axis=0)
# data = data.drop(data[(data['no_kp'] == "") | (data['no_kp'] == "na")].index)

# data

In [194]:
# Sample data
data = pd.DataFrame({'no_kp': ['1002110209', '94103008650', '92082203513', '94133008650', '94103060650', '47020512506', '7411A902541', '88092603628', '020607189952', 'nan', '', ]})

## total len (create new column - number of len)

In [195]:
# Create a column for the total length of the identification number
data['len'] = data['no_kp'].str.len()
data

           no_kp  len
0     1002110209   10
1    94103008650   11
2    92082203513   11
3    94133008650   11
4    94103060650   11
5    47020512506   11
6    7411A902541   11
7    88092603628   11
8   020607189952   12
9            nan    3
10                  0

### match umur with first 2D no_kp

In [196]:
619-152

467

In [197]:
import pandas as pd
from datetime import datetime

# Define a function to calculate age based on birth year
def calculate_age(birth_year):
    today = datetime.now()
    age = today.year - birth_year
    if today < datetime(today.year, 1, 1):
        age -= 1
    return age

# Define a function to convert the first two digits of the identification number to a birth year
def get_birth_year(id_num):
    if int(id_num[:2]) < 23:
        return 2000 + int(id_num[:2])
    else:
        return 1900 + int(id_num[:2])

In [198]:
# Convert 'no_kp' column to numeric, set non-numeric values to NaN
data['no_kp'] = pd.to_numeric(data['no_kp'], errors='coerce')

# Drop rows with NaN values in 'no_kp' column
data = data.dropna(subset=['no_kp'])
data['no_kp'] = pd.to_numeric(data['no_kp'], errors='coerce').apply(lambda x: '{:.0f}'.format(x))
data['no_kp'] = data['no_kp'].astype(str)

# Extract the birth year from the identification number
data['birth_year'] = data['no_kp'].apply(get_birth_year)

# Calculate age based on birth year
data['age'] = data['birth_year'].apply(calculate_age)

# data['no_kp'] = data['no_kp'].astype(float)
# data['no_kp'] = data['no_kp'].apply(lambda x: pd.to_numeric(x, errors='coerce')).apply(lambda x: '{:,.2f}'.format(x))

# Show the results
# data

C:\Users\najmi.ariffin\AppData\Local\Temp\2\ipykernel_25088\826333553.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['no_kp'] = pd.to_numeric(data['no_kp'], errors='coerce').apply(lambda x: '{:.0f}'.format(x))
C:\Users\najmi.ariffin\AppData\Local\Temp\2\ipykernel_25088\826333553.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['no_kp'] = data['no_kp'].astype(str)
C:\Users\najmi.ariffin\AppData\Local\Temp\2\ipykernel_25088\826333553.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['birth_year'] = data['no_kp'].apply(get_birth_year)
C:\Users\najmi.ariffin\AppData\Local\Temp\2\ipykernel_25088\826333553.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['age'] = data['birth_year'].apply(calculate_age)

age01 != age ===> potential LZ

### selected digits: extract digits location number 3-6D
### digit {3-4} value should < 13 if not (create new column - month issue)
### digit {5-6} value should < 32 if not (create new column - day issue)

In [199]:
data['no_kp'] = data['no_kp'].astype(str)

C:\Users\najmi.ariffin\AppData\Local\Temp\2\ipykernel_25088\3196784518.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['no_kp'] = data['no_kp'].astype(str)

In [200]:
# Extract the digits representing the date of birth
data['dob'] = data['no_kp'].str[2:6]

# Check if the month in the date of birth is valid
data['month_issue'] = (data['dob'].str[:2].astype(int) < 13) & (data['dob'].str[:2].astype(int) > 0)
data['month_issue'] = data['month_issue'].replace({True: 'no issue', False: 'something wrong'})

# Check if the day in the date of birth is valid
data['day_issue'] = (data['dob'].str[2:].astype(int) < 32) & (data['dob'].str[2:].astype(int) > 0)
data['day_issue'] = data['day_issue'].replace({True: 'no issue', False: 'something wrong'})
# data

C:\Users\najmi.ariffin\AppData\Local\Temp\2\ipykernel_25088\1923089323.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['dob'] = data['no_kp'].str[2:6]
C:\Users\najmi.ariffin\AppData\Local\Temp\2\ipykernel_25088\1923089323.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['month_issue'] = (data['dob'].str[:2].astype(int) < 13) & (data['dob'].str[:2].astype(int) > 0)
C:\Users\najmi.ariffin\AppData\Local\Temp\2\ipykernel_25088\1923089323.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['month_issue'] = data['month_issue'].replace({True: 'no issue', False: 'something wrong'})
C:\Users\najmi.ariffin\AppData\Local\Temp\2\ipykernel_25088\1923089323.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day_issue'] = (data['dob'].str[2:].astype(int) < 32) & (data['dob'].str[2:].astype(int) > 0)
C:\Users\najmi.ariffin\AppData\Local\Temp\2\ipykernel_25088\1923089323.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day_issue'] = data['day_issue'].replace({True: 'no issue', False: 'something wrong'})

In [201]:
# Extract the digits representing the state code
data['state_code'] = data['no_kp'].str[6:8]
# data

C:\Users\najmi.ariffin\AppData\Local\Temp\2\ipykernel_25088\2308526142.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['state_code'] = data['no_kp'].str[6:8]

## check available statecode from dict (MM) digit {8-9} 
(create new column - status: exist or not exist)

In [202]:
# Check if the state code is valid
jpn = {'state': ['Johor', 'Kedah', 'Kelantan', 'Melaka', 'Negeri Sembilan', 'Pahang', 'Pulau Pinang', 'Perak', 'Perlis', 'Selangor', 'Terengganu', 'Sabah', 'Sarawak', 'WP Kuala Lumpur', 'WP Labuan', 'WP Putrajaya', 'Johor', 'Kedah', 'Kelantan', 'Melaka', 'Negeri Sembilan', 'Pahang', 'Pulau Pinang', 'Perak', 'Perlis', 'Selangor', 'Terengganu', 'Sabah', 'Sarawak', 'WP Kuala Lumpur', 'WP Labuan', 'Johor', 'Kedah', 'Kelantan', 'Negeri Sembilan', 'Pahang', 'Pulau Pinang', 'Perak', 'Selangor', 'Terengganu', 'Sabah', 'Sarawak', 'WP Kuala Lumpur', 'Johor', 'Kedah', 'Perak', 'Selangor', 'Sabah', 'Sarawak', 'WP Kuala Lumpur', 'Johor', 'Perak', 'Selangor', 'Sarawak', 'WP Kuala Lumpur'], 'code': ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '21', '25', '28', '30', '31', '32', '34', '36', '40', '41', '45', '47', '50', '54', '58', '22', '26', '29', '59', '33', '35', '37', '42', '46', '48', '51', '55', '23', '27', '38', '43', '49', '52', '56', '24', '39', '44', '53', '57']}
valid_state_codes = set(jpn['code'])
data['statuscode'] = data['state_code'].apply(lambda x: 'exist' if x in valid_state_codes else 'not exist')
# data

C:\Users\najmi.ariffin\AppData\Local\Temp\2\ipykernel_25088\1542587606.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['statuscode'] = data['state_code'].apply(lambda x: 'exist' if x in valid_state_codes else 'not exist')

In [184]:
# data[data.statuscode == 'not exist']

## potential leading zero issue
(create new column - potential: leading zero or incomplete digit)

In [203]:
# # Create a new column 'age_difference' as the absolute difference between 'age' and 'age01'
# data['age_difference'] = abs(data['age'] - data['umur'])

# # Create a boolean mask for rows where the age difference is more than 3 years
# mask = data['age_difference'] > 3

## Complete indicator/condition

In [206]:
# Check for potential leading zeros or incomplete digits
data['potential'] = (data['no_kp'].str.startswith('0')
                     | (data['day_issue'] == 'something wrong')
                     | (data['month_issue'] == 'something wrong')
                    #  | (mask)
                     | (data['statuscode'].str.startswith('not exist')))

# Print messages based on potential LZ or incomplete digits
data['potential'] = data['potential'].replace({True: 'potential LZ', False: 'incomplete last digits'})
data.head()

C:\Users\najmi.ariffin\AppData\Local\Temp\2\ipykernel_25088\3514899834.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['potential'] = (data['no_kp'].str.startswith('0')
C:\Users\najmi.ariffin\AppData\Local\Temp\2\ipykernel_25088\3514899834.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['potential'] = data['potential'].replace({True: 'potential LZ', False: 'incomplete last digits'})

,no_kp,len,birth_year,age,dob,month_issue,day_issue,state_code,statuscode,potential
0,1002110209,10,2010,13,0211,no issue,no issue,02,exist,incomplete last digits
1,94103008650,11,1994,29,1030,no issue,no issue,08,exist,incomplete last digits
2,92082203513,11,1992,31,0822,no issue,no issue,03,exist,incomplete last digits
3,94133008650,11,1994,29,1330,something wrong,no issue,08,exist,potential LZ
4,94103060650,11,1994,29,1030,no issue,no issue,60,not exist,potential LZ

if something wrong in col = day_issue OR month_issue OR statuscode ==> potential LZ

In [207]:
set(data['potential'])

{'incomplete last digits', 'potential LZ'}

## Potential issue incomplete last digit (len =11 )

In [208]:
# data.drop_duplicates(subset=['id', 'no_kp', 'state01'], keep='last', inplace=True)

In [209]:
data[data['potential'] == 'incomplete last digits'].shape

(5, 10)

In [210]:
data.query("potential == 'incomplete last digits' & len == 11").shape

(4, 10)

In [211]:
data.query("potential == 'incomplete last digits' & len == 10").shape

(1, 10)

10 records incomplete last digits with len=10

In [212]:
data.query("potential == 'incomplete last digits' & len == 11").head()

,no_kp,len,birth_year,age,dob,month_issue,day_issue,state_code,statuscode,potential
1,94103008650,11,1994,29,1030,no issue,no issue,08,exist,incomplete last digits
2,92082203513,11,1992,31,0822,no issue,no issue,03,exist,incomplete last digits
5,47020512506,11,1947,76,0205,no issue,no issue,12,exist,incomplete last digits
7,88092603628,11,1988,35,0926,no issue,no issue,03,exist,incomplete last digits

## Potential LZ issue (len = 11)

In [215]:
# data.drop_duplicates(subset=['id', 'no_kp', 'state01'], keep='last', inplace=True)
data.query("potential == 'potential LZ' & len == 11").shape

(2, 10)

In [216]:
data.query("potential == 'potential LZ' & len == 11").head()

,no_kp,len,birth_year,age,dob,month_issue,day_issue,state_code,statuscode,potential
3,94133008650,11,1994,29,1330,something wrong,no issue,08,exist,potential LZ
4,94103060650,11,1994,29,1030,no issue,no issue,60,not exist,potential LZ

In [217]:
data.query("potential == 'potential LZ' & len == 10").shape

(0, 10)

In [218]:
data.query("potential == 'potential LZ'").shape

(3, 10)

In [219]:
data.query("potential == 'incomplete last digits' & len == 10").shape

(1, 10)

## Potential LZ issue and incomplete last digit

In [221]:
# data.drop_duplicates(subset=['id', 'no_kp', 'state01'], keep='last', inplace=True)
data.query("potential == 'potential LZ' & len == 10").shape

(0, 10)

In [222]:
data.query("potential == 'potential LZ' & len == 10")

Empty DataFrame
Columns: [no_kp, len, birth_year, age, dob, month_issue, day_issue, state_code, statuscode, potential]
Index: []