In [6]:
import pandas as pd
import numpy as np

In [14]:
my_df = pd.DataFrame({'IC': [960101035551, 870101045552, 910102035554]})

In [15]:
my_df['gender'] = np.where(my_df['IC'] % 2 != 0, 'male', 'female')

In [16]:
my_df

             IC  gender
0  960101035551    male
1  870101045552  female
2  910102035554  female

#### p/s : perlu padanan data daripada JPN, 
(berapa percent matching? 
adakah masih digunakan pengelasan jantina berdasarkan no genap/ganjil ?)