In [ ]:
m = pd.read_csv('state_nokp.csv')
cols_to_convert = ['m1','m2','m3','m4','m5']
m[cols_to_convert] = m[cols_to_convert].apply(lambda x: x.fillna(0).astype(int))
m

              state  m1  m2  m3  m4  m5
0             Johor   1  21  22  23  24
1             Kedah   2  25  26  27   0
2          Kelantan   3  28  29   0   0
3            Melaka   4  30   0   0   0
4   Negeri Sembilan   5  31  59   0   0
5            Pahang   6  32  33   0   0
6      Pulau Pinang   7  34  35   0   0
7             Perak   8  36  37  38  39
8            Perlis   9  40   0   0   0
9          Selangor  10  41  42  43  44
10       Terengganu  11  45  46   0   0
11            Sabah  12  47  48  49   0
12          Sarawak  13  50  51  52  53
13  WP Kuala Lumpur  14  54  55  56  57
14        WP Labuan  15  58   0   0   0
15     WP Putrajaya  16   0   0   0   0

In [ ]:
cols_to_melt = ['m1','m2','m3','m4','m5']
df = m.melt(id_vars=m.columns.difference(cols_to_melt), value_vars=cols_to_melt, var_name='Melt_Column', value_name='Value')
df = df[df['Value'] != 0]
df = df.drop(columns='Melt_Column')
df = df.rename(columns={'Value':'code'})
df['code'] = df['code'].apply(lambda x:'{0:0>2}'.format(x))
df

              state code
0             Johor   01
1             Kedah   02
2          Kelantan   03
3            Melaka   04
4   Negeri Sembilan   05
5            Pahang   06
6      Pulau Pinang   07
7             Perak   08
8            Perlis   09
9          Selangor   10
10       Terengganu   11
11            Sabah   12
12          Sarawak   13
13  WP Kuala Lumpur   14
14        WP Labuan   15
15     WP Putrajaya   16
16            Johor   21
17            Kedah   25
18         Kelantan   28
19           Melaka   30
20  Negeri Sembilan   31
21           Pahang   32
22     Pulau Pinang   34
23            Perak   36
24           Perlis   40
25         Selangor   41
26       Terengganu   45
27            Sabah   47
28          Sarawak   50
29  WP Kuala Lumpur   54
30        WP Labuan   58
32            Johor   22
33            Kedah   26
34         Kelantan   29
36  Negeri Sembilan   59
37           Pahang   33
38     Pulau Pinang   35
39            Perak   37
41         Selangor   42
42       Terengganu   46
43            Sabah   48
44          Sarawak   51
45  WP Kuala Lumpur   55
48            Johor   23
49            Kedah   27
55            Perak   38
57         Selangor   43
59            Sabah   49
60          Sarawak   52
61  WP Kuala Lumpur   56
64            Johor   24
71            Perak   39
73         Selangor   44
76          Sarawak   53
77  WP Kuala Lumpur   57

## generate data code state in no_kp/no_IC

In [ ]:
data = {'state': ['Johor',
  'Kedah',
  'Kelantan',
  'Melaka',
  'Negeri Sembilan',
  'Pahang',
  'Pulau Pinang',
  'Perak',
  'Perlis',
  'Selangor',
  'Terengganu',
  'Sabah',
  'Sarawak',
  'WP Kuala Lumpur',
  'WP Labuan',
  'WP Putrajaya',
  'Johor',
  'Kedah',
  'Kelantan',
  'Melaka',
  'Negeri Sembilan',
  'Pahang',
  'Pulau Pinang',
  'Perak',
  'Perlis',
  'Selangor',
  'Terengganu',
  'Sabah',
  'Sarawak',
  'WP Kuala Lumpur',
  'WP Labuan',
  'Johor',
  'Kedah',
  'Kelantan',
  'Negeri Sembilan',
  'Pahang',
  'Pulau Pinang',
  'Perak',
  'Selangor',
  'Terengganu',
  'Sabah',
  'Sarawak',
  'WP Kuala Lumpur',
  'Johor',
  'Kedah',
  'Perak',
  'Selangor',
  'Sabah',
  'Sarawak',
  'WP Kuala Lumpur',
  'Johor',
  'Perak',
  'Selangor',
  'Sarawak',
  'WP Kuala Lumpur'],
 'code': ['01',
  '02',
  '03',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '10',
  '11',
  '12',
  '13',
  '14',
  '15',
  '16',
  '21',
  '25',
  '28',
  '30',
  '31',
  '32',
  '34',
  '36',
  '40',
  '41',
  '45',
  '47',
  '50',
  '54',
  '58',
  '22',
  '26',
  '29',
  '59',
  '33',
  '35',
  '37',
  '42',
  '46',
  '48',
  '51',
  '55',
  '23',
  '27',
  '38',
  '43',
  '49',
  '52',
  '56',
  '24',
  '39',
  '44',
  '53',
  '57']}

df2 = pd.DataFrame(data)

df2

              state code
0             Johor   01
1             Kedah   02
2          Kelantan   03
3            Melaka   04
4   Negeri Sembilan   05
5            Pahang   06
6      Pulau Pinang   07
7             Perak   08
8            Perlis   09
9          Selangor   10
10       Terengganu   11
11            Sabah   12
12          Sarawak   13
13  WP Kuala Lumpur   14
14        WP Labuan   15
15     WP Putrajaya   16
16            Johor   21
17            Kedah   25
18         Kelantan   28
19           Melaka   30
20  Negeri Sembilan   31
21           Pahang   32
22     Pulau Pinang   34
23            Perak   36
24           Perlis   40
25         Selangor   41
26       Terengganu   45
27            Sabah   47
28          Sarawak   50
29  WP Kuala Lumpur   54
30        WP Labuan   58
31            Johor   22
32            Kedah   26
33         Kelantan   29
34  Negeri Sembilan   59
35           Pahang   33
36     Pulau Pinang   35
37            Perak   37
38         Selangor   42
39       Terengganu   46
40            Sabah   48
41          Sarawak   51
42  WP Kuala Lumpur   55
43            Johor   23
44            Kedah   27
45            Perak   38
46         Selangor   43
47            Sabah   49
48          Sarawak   52
49  WP Kuala Lumpur   56
50            Johor   24
51            Perak   39
52         Selangor   44
53          Sarawak   53
54  WP Kuala Lumpur   57

sumber: https://www.jpn.gov.my/my/kod-negeri