## Check List of Tables in Database

In [36]:
import mysql.connector

mydb = mysql.connector.connect(
    host="10.21.45.183",
    user="najmi",
    password="Najmi@118",
    database="ADR"
)

mycursor = mydb.cursor()

mycursor.execute("Show tables;")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('geo_kawasanku',)
('testingtable',)

## Read Table in Database

In [37]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='10.21.45.183',
                                         database='ADR',
                                         user='***', # username
                                         password=='***') # password
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)
    
'''
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")
'''

Connected to MySQL Server version  8.0.21
You're connected to database:  ('ADR',)

'\nfinally:\n    if connection.is_connected():\n        cursor.close()\n        connection.close()\n        print("MySQL connection is closed")\n'

In [38]:
df = pd.read_sql_query("SELECT * FROM geo_kawasanku",
    connection)

In [39]:
df.head()

,area_type,area,total_area,max_elevation,ruggedness,watercover,treecover,treeloss,nightlights
0,state,Johor,19160.0,1249.0,59.88,0.12,72.82,0.41,143.57
1,state,Kedah,9492.0,1851.0,138.38,0.18,62.76,0.23,1.89
2,state,Kelantan,15035.0,2182.0,526.14,0.05,80.86,0.29,0.83
3,state,Melaka,1712.0,500.0,258.73,0.07,56.57,0.40,83.20
4,state,Negeri Sembilan,6654.0,1443.0,407.07,0.03,72.47,0.42,61.89

## Disconnecting the DB Connection

In [41]:
#finally:
#    if connection.is_connected():
#        cursor.close()
#        connection.close()
#        print("MySQL connection is closed")