In [1]:
import pandas as pd

## Sample Data

In [14]:
import pandas as pd
import random

# Generate a list of 10 random phone numbers that start with '01'
phone_numbers = ['01' + ''.join([str(random.randint(0, 9)) for _ in range(8)]) for i in range(10)]

# Convert the list of phone numbers to a DataFrame with "Phone Number" column as string
df_phone_numbers = pd.DataFrame({'no_tel': phone_numbers})

# Print the DataFrame
df_phone_numbers

# Export the DataFrame to CSV file with leading zero maintained
df_phone_numbers.to_csv('sample_note.csv', index=False)

## Problem Task
1. after save dataframe to CSV
2. recall dataset with "pd.read" - the actual datatypes change to integer format instead of string (expected)

In [15]:
df = pd.read_csv('sample_note.csv')
df

      no_tel
0  162347683
1  131371138
2  109371489
3  105158369
4  196865713
5  126107178
6  135147795
7  151240746
8  188090109
9  142272864

## Treatment - Resolve Leading Zero

In [16]:
df['no_tel'] = df['no_tel'].apply(str)
df['no_tel'] = df['no_tel'].apply(lambda x:'{0:0>10}'.format(x))
df.no_tel = df.no_tel.apply("{}".format)
df

       no_tel
0  0162347683
1  0131371138
2  0109371489
3  0105158369
4  0196865713
5  0126107178
6  0135147795
7  0151240746
8  0188090109
9  0142272864

## Diagnostic - Quick Solution
Read specific column as string directly from "pd.read"

In [17]:
df = pd.read_csv('sample_notel.csv', dtype={"no_tel": str})
df

       no_tel
0  0182820687
1  0169073095
2  0138968881
3  0134453171
4  0100366659
5  0161562404
6  0192837488
7  0173983955
8  0159949423
9  0101395299